<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"> </link>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"></link>
    </head>
    <body>
        <!--<nav class="navbar navbar-default">-->
        <!--    <div class="container-fluid">-->
        <!--        <div class="navbar-header">-->
        <!--            <a class="navbar-brand" href="/">YelpCamp</a>-->
        <!--        </div>-->
                
        <!--         <ul class="nav navbar-nav navbar-right">-->
        <!--                <li><a href="/">Login</a></li>-->
        <!--                <li><a href="/">Sign Up</a></li>-->
        <!--                <li><a href="/">Log out</a></li>-->
        <!--         </ul>-->
               
                
                
                
                
        <!--        <div class="collapse navbar-collapse">-->
        <!--            <ul class="nav navbar-nav navbar-right">-->
        <!--                <li><a href="/">Login</a></li>-->
        <!--                <li><a href="/">Sign Up</a></li>-->
        <!--                <li><a href="/">Log out</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</nav>-->
         <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <a href="/">Parking Spot</a>
                </div>
                <a class="active item" href="/index">Home</a>

                <div class="right menu">
                   <% if(!currentUser){ %>
                        <a href="/login" class="item">Login</a>
                        <a href="/register" class="item">Sign Up</a>
                    <% }else{ %>
                        <span class="item">Signed In as <%=currentUser.username.charAt(0).toUpperCase()+currentUser.username.substring(1,currentUser.username.length)%></span>
                        <a href="/logout" class="item">Log out</a>    
                   <% } %>
                    
                </div>
            </div>    
        </div>
        
        <div class="container">
            <% if(error && error.length>0){ %>
                <div style="margin-top:50px;" class="alert alert-danger" role="alert">
                    <%= error %>
                </div>    
            <% } %>
             <% if(success && success.length>0){ %>
                 <div style="margin-top:50px;" class="alert alert-success" role="alert">
                    <%= success %>
                </div>    
            <% } %>
        </div>
        