<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"> </link>
    </head>
    <body>
        <!--<nav class="navbar navbar-default">-->
        <!--    <div class="container-fluid">-->
        <!--        <div class="navbar-header">-->
        <!--            <a class="navbar-brand" href="/">YelpCamp</a>-->
        <!--        </div>-->
                
        <!--         <ul class="nav navbar-nav navbar-right">-->
        <!--                <li><a href="/">Login</a></li>-->
        <!--                <li><a href="/">Sign Up</a></li>-->
        <!--                <li><a href="/">Log out</a></li>-->
        <!--         </ul>-->
               
                
                
                
                
        <!--        <div class="collapse navbar-collapse">-->
        <!--            <ul class="nav navbar-nav navbar-right">-->
        <!--                <li><a href="/">Login</a></li>-->
        <!--                <li><a href="/">Sign Up</a></li>-->
        <!--                <li><a href="/">Log out</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</nav>-->
         <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>
                    My Blog
                </div>
                <a class="active item" href="/index">Home</a>

                <div class="right menu">
                    <a href="/" class="item">Login</a>
                    <a href="/" class="item">Sign Up</a>
                    <a href="/" class="item">Log out</a>    
                </div>
            </div>    
        </div>
