<% include ./partials/header%>
<div class="container">
    <div class="register">
        <h1>Registeration Form</h1>
    
        <form action="/register" method="POST">
            <input name="username" type="text" placeholder="username"></input>
            <input name="password" type="password" placeholder="password"></input>
            <button>REGISTER</button>
        </form>    
    </div>
</div>

<% include ./partials/footer%>